*.log
*.class
*.jar
*.bin
*.lock

# OS Files #
.DS_Store
.idea
*.idea
*.project
.settings/
**/.settings/*
.classpath

jalo/
licenses/
idea-module-files/
.idea/
README

######################
# Hybris
######################

/.git-rewrite
/hybris/log
/hybris/temp
/hybris/bin/modules
/hybris/bin/platform
/hybris/roles
/hybris/config
!/hybris/config/local.properties
!/hybris/config/licence/hybrislicence.jar
/hybris/bin/custom/yb2bacceleratorstorefront

installer/*
!/installer/recipes
/installer/recipes/*
!/installer/recipes/poc

# Files
build.xml
SIGNATURE.SMF
extensioninfo.xsd
hmc.xsd
platformhome.properties
items.xsd
beans.xsd
Generated*.java
**/*-testclasses.xml
**/*-webtestclasses.xml
.pmd
.spring[Bb]eans
*.new

# Folders
test-reports/
git-hooks/tmp/
# Folders - Hybris Specific
data/
log/
temp/
roles/
.metadata/
**/RemoteSystemsTempFiles/
**/eclipsebin/**
**/.externalToolBuilders/
build-tools/
c4c-integration/
hybris-Mobile-Apps-SDK/
hybris-sbg/
gensrc
classes

*JRebel
*rebel.xml
*.vscode

*.ZIP

addons
addonsrc

*.iml

hybris/bin/custom/poc/poccore/lib/.lastupdate
# Arquivos temporários de desenvolvimento
*.groovy
*.impex
*.sh
*.py
*.md


# Diretórios temporários
node_modules/
hybris/data_old/

# Arquivos de configuração temporária
package*.json

#Arquivos karate
karate-project/target/
